@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    font-family: 'Nunito', sans-serif;
}

body{
    height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
    
}
#root{
    width: 100%;
    height: 100%;
    --primary-color: #3498db;
    --secondary-color: #00c9a7;
    --third-color: #0b1b18;
    --accent-color: #e74c3c;
    --input-color:#f7f7f7;
    --background-color: #ffffff;

}



aside{
    height: 100% ;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: fixed;
}
header {  
    width: 90%;
    margin-left:10%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
main{
    width: 90%;
    height: 100%;
    margin-left:10%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.main-container {
    width: 98%;
    height: 95%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

label{
    color: var(--third-color);
}
input{
    background-color: var(--input-color);
    border: var(--third-color) 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}
input:focus{
    outline: none;
}
select{
    background-color: #fff;
    border:var(--third-color) 1px solid;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.main-button{
    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
    color: #b6b3b3;
    background-color: #e0e0e0;
}

.active-button{

    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
    color: #ffffff;
    background-color: #00c9a7;

}