aside{
    height: 90vh ;
    width: 10rem;
    background-color: #221a6a;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; 
}

.page-nav{

    padding: 5px;
    padding-top: 50px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 50px;

}
button{
    
    background-color: #221a6a;
    border: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 1.5em;   
}
button:hover{
    background-color: #070513;
    border-radius: 10px ;
  

}

.logout-btn{
    padding-top: 50vh;
    display: flex;
    align-items: flex-end;
}