

.category-add-search {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.category-add-search button {
  font-weight: 100;
  font-size: 1.5em;
}
.category-search input{

  width: 100%;
  text-align: start;
  padding: 10px;
  border-radius: 15px;
  border: 0px solid #00c9a7;
}
/* table */
.table-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding: 0;
  width: 60%;
  background-color: #ddd;
  border-radius: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
}

table tr {
  background-color: #f8f8f8;
  padding: 0.35em;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0px;
  width: 20%;
}
table td {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0px;
  border-top: 2px solid #34495e;
}

.action-button {
}
.action-button button {
  background-color: transparent;
  font-weight: 100;
  font-size: 1.5em;
  border: 1px solid white;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.action-button .edit-btn i:hover {
  color: aqua;
}

.action-button .trash-btn i:hover {
  color: red;
}
