.aside-container{
    width: 80%;
    height: 96%;
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}
.nav-btn{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.nav-btn button{
    cursor: pointer;
    background-color:#2c3e50;
    border: none;
    border-radius: 15px;   
    transition-duration: 0.5s ;
    padding: 10px;
    transform: 0.7s;
    
}
.nav-btn button span,h6{
    color: #00c9a7;
    
}
.nav-btn button:hover{
   transform: scale(1.1);

}