.container{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  
}

.login-pic-container{
  
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-message{
  width: 100%;
}
.container h1{
  font-size: 20px;
  font-weight: 600;
  color: #00c9a7
  
  
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 30%;
  background-color: var(--background-color);
}
.form-signin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
}
 .user-input{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  color: var(--third-color);
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  
}

.user-input:focus{
  outline: none;
}

  
  .login-button{
      cursor: pointer;
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 4px;
      margin: 5px 0;
      opacity: 0.85;
      display: inline-block;
      font-size: 17px;
      line-height: 20px;
      text-decoration: none; /* remove underline from anchors */
      color: #ffffff;
      background-color: #00c9a7;
  }

   
 .login-input:hover{
  opacity: 1;
 }
   
 