.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .page-not-found-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .page-not-found-title {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .page-not-found-message {
    font-size: 1.5em;
  }